framework:
    cache:
        # Put the unique name of your app here: the prefix seed
        # is used to compute stable namespaces for cache keys.
        prefix_seed: '%env(REDIS_CACHE_PREFIX)%'

        # Default cache
        system: cache.adapter.system
        app: cache.adapter.filesystem

        default_redis_provider: '%env(REDIS_CACHE_DSN)%'

        pools:
            # Creates a "feeds.cache" service
            feeds.cache:
                adapter: cache.adapter.redis
                # Default expire set to 5 minutes
                default_lifetime: 300

            feed.without.expire.cache:
                adapter: cache.adapter.redis

            # Creates a "calendar.api.cache" service
            calendar.api.cache:
                adapter: cache.adapter.redis

            # Creates a "auth.screen.cache" service
            auth.screen.cache:
                adapter: cache.adapter.redis
                # Default expire set to 1 day
                default_lifetime: 86400

            # Creates an "interactive_slide.cache" service
            interactive_slide.cache:
                adapter: cache.adapter.redis
                # Default expire set to 12 hours
                default_lifetime: 43200
