###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

node_modules

public/media/*
!public/media/thumbnail_video.png
!public/media/thumbnail_other.png

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

xdebug.ini
launch.json

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###
