version: "3"

networks:
  frontend:
    external: true
  app:
    driver: bridge
    internal: false

services:
  phpfpm:
    image: itkdev/os2display-api-service:alpha
    restart: unless-stopped
    networks:
      - app
    environment:
      - PHP_MAX_EXECUTION_TIME=30
      - PHP_MEMORY_LIMIT=128M
      - COMPOSER_VERSION=1
      - APP_ENV=prod
      - APP_TRUSTED_PROXIES=127.0.0.1,REMOTE_ADDR
      - APP_SECRET=MySuperSecret
      - APP_CORS_ALLOW_ORIGIN='^https?://localhost(:[0-9]+)?$'
      - APP_DATABASE_URL=mysql://db:db@mariadb:3306/db?serverVersion=mariadb-10.4.0
      - APP_DEFAULT_DATE_FORMAT='Y-m-d\TH:i:s.v\Z'

  nginx:
    image: itkdev/os2display-api-service-nginx:alpha
    restart: unless-stopped
    networks:
      - app
      - frontend
    depends_on:
      - phpfpm
    ports:
      - '80'
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=frontend"
      - "traefik.http.routers.${COMPOSE_PROJECT_NAME}-http.rule=Host(`${COMPOSE_SERVER_DOMAIN}`)"
      - "traefik.http.routers.${COMPOSE_PROJECT_NAME}-http.entrypoints=web"
      - "traefik.http.routers.${COMPOSE_PROJECT_NAME}-http.middlewares=redirect-to-https"
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.routers.${COMPOSE_PROJECT_NAME}.rule=Host(`${COMPOSE_SERVER_DOMAIN}`)"
      - "traefik.http.routers.${COMPOSE_PROJECT_NAME}.entrypoints=websecure"
       #- "traefik.http.routers.${COMPOSE_PROJECT_NAME}.middlewares=ITKBasicAuth@file"

  redis:
    image: 'redis:6'
    networks:
      - app
    ports:
      - '6379'
