---
resources:
  App\Entity\Tenant\Media:
    output: App\Dto\Media

    operations:
        ApiPlatform\Metadata\Get:
            uriTemplate: '/media/{id}'
            openapiContext:
              description: Retrieves a Media resource.
              summary: Retrieve a Media resource.
              operationId: get-v1-media-id
              tags:
                - Media
              parameters:
                - schema:
                    type: string
                    format: ulid
                    pattern: "^[A-Za-z0-9]{26}$"
                  name: id
                  in: path
                  required: true
              responses:
                '200':
                  description: OK
                  content:
                    application/ld+json:
                      examples:
                  headers: { }

        ApiPlatform\Metadata\Delete:
            openapiContext:
                description: Delete a Media resource.
                summary: Delete a Media resource.
                operationId: delete-v1-media-id
                tags:
                  - Media
                parameters:
                  - schema:
                      type: string
                      format: ulid
                      pattern: "^[A-Za-z0-9]{26}$"
                    name: id
                    in: path
                    required: true

        ApiPlatform\Metadata\GetCollection:
            filters: ['entity.search_filter', 'entity.blameable_filter', 'entity.order_filter', 'created.at.order_filter', 'updated.at.order_filter']
            openapiContext:
                description: Retrieve a collection of Media resources.
                summary: Retrieves a collection of Media resources.
                tags:
                  - Media
                operationId: get-v1-medias
                parameters:
                  - schema:
                      type: integer
                      minimum: 0
                      format: int32
                      default: 1
                    in: query
                    name: page
                  - schema:
                      type: string
                      default: '10'
                    in: query
                    name: itemsPerPage
                    description: The number of items per page
                responses:
                  '200':
                    description: OK
                    content:
                      application/ld+json:
                        examples:

                    headers: { }

        ApiPlatform\Metadata\Post:
            controller: App\Controller\MediaController
            deserialize: false
            openapiContext:
              tags:
                - Media
              requestBody:
                content:
                  multipart/form-data:
                    schema:
                      type: object
                      required:
                        - title
                        - description
                        - license
                        - file
                      properties:
                        title:
                          type: string
                        description:
                          type: string
                        license:
                          type: string
                        file:
                          type: string
                          format: binary
