---
resources:
    App\Entity\Tenant\ScreenGroup:
        security: 'is_granted("ROLE_SCREEN") or is_granted("ROLE_ADMIN")'
        input: App\Dto\ScreenGroupInput
        output: App\Dto\ScreenGroup
        provider: App\State\ScreenGroupProvider
        processor: App\State\ScreenGroupProcessor
        denormalization_context:
            api_allow_update: true

        operations:
            ApiPlatform\Metadata\Get: &get
                uriTemplate: '/screen-groups/{id}'
                openapiContext:
                    description: Retrieves a Screen group resource.
                    summary: Retrieve a Screen group resource.
                    operationId: get-v1-screen-groups-id
                    tags:
                        - ScreenGroups
                    parameters:
                        -   schema:
                                type: string
                                format: ulid
                                pattern: "^[A-Za-z0-9]{26}$"
                            name: id
                            in: path
                            required: true
                    responses:
                        '200':
                            description: OK
                            content:
                                application/ld+json:
                                    examples:
                            headers: { }

            ApiPlatform\Metadata\Put:
                security: 'is_granted("ROLE_ADMIN")'
                uriTemplate: '/screen-groups/{id}'
                openapiContext:
                    description: Update a Screen group resource.
                    summary: Update a Screen group resource.
                    operationId: put-v1-screen-groups-id
                    tags:
                        - ScreenGroups
                    parameters:
                        -   schema:
                                type: string
                                format: ulid
                                pattern: "^[A-Za-z0-9]{26}$"
                            name: id
                            in: path
                            required: true

            ApiPlatform\Metadata\Delete:
                security: 'is_granted("ROLE_ADMIN")'
                uriTemplate: '/screen-groups/{id}'
                openapiContext:
                    description: Delete a Screen group resource.
                    summary: Delete a Screen group resource.
                    operationId: delete-v1-screen-groups-id
                    tags:
                        - ScreenGroups
                    parameters:
                        -   schema:
                                type: string
                                format: ulid
                                pattern: "^[A-Za-z0-9]{26}$"
                            name: id
                            in: path
                            required: true

            _api_/screens/{id}/screen-groups_put:
                security: 'is_granted("ROLE_ADMIN")'
                class: ApiPlatform\Metadata\Put
                method: PUT
                uriTemplate: '/screens/{id}/screen-groups'
                controller: App\Controller\ScreenGroupsScreensPutController
                read: false
                deserialize: false
                validate: false
                openapiContext:
                    description: Update the collection of ScreenGroups on a Screen.
                    summary: Update the collection of ScreenGroups on a Screen.
                    operationId: put-v1-screen-groups-screen
                    tags:
                        - Screens
                    parameters:
                        -   schema:
                                type: string
                                format: ulid
                                pattern: "^[A-Za-z0-9]{26}$"
                            name: id
                            in: path
                            required: true
                    requestBody:
                        content:
                            application/json:
                                schema:
                                    type: array
                                    items:
                                        type: string
                    responses:
                        '200':
                            description: OK
                            content:
                                application/ld+json:
                                    examples:

            _api_/screens/{id}/screen-groups/{screenGroupId}_delete:
                security: 'is_granted("ROLE_ADMIN")'
                class: ApiPlatform\Metadata\Delete
                method: DELETE
                uriTemplate: '/screens/{id}/screen-groups/{screenGroupId}'
                controller: App\Controller\ScreenGroupsScreensDeleteController
                read: false
                deserialize: false
                validate: false
                openapiContext:
                    description: Delete a screen groups from a screen.
                    summary: Delete a screen groups from a screen
                    operationId: delete-v1-screen-group-screen-id
                    tags:
                        - Screens
                    parameters:
                        -   schema:
                                type: string
                                format: ulid
                                pattern: "^[A-Za-z0-9]{26}$"
                            name: id
                            in: path
                            required: true
                        -   schema:
                                type: string
                                format: ulid
                                pattern: "^[A-Za-z0-9]{26}$"
                            name: screenGroupId
                            in: path
                            required: true

            ApiPlatform\Metadata\GetCollection:
                filters:
                    - 'entity.search_filter'
                    - 'entity.blameable_filter'
                    - 'entity.order_filter'
                    - 'created.at.order_filter'
                uriTemplate: '/screen-groups'
                openapiContext:
                    description: Retrieve a collection of Screen group resources.
                    summary: Retrieves a collection of Screen group resources.
                    tags:
                        - ScreenGroups
                    operationId: get-v1-screen-groups
                    parameters:
                        -   schema:
                                type: integer
                                minimum: 0
                                format: int32
                                default: 1
                            in: query
                            name: page
                        -   schema:
                                type: string
                                default: '10'
                            in: query
                            name: itemsPerPage
                            description: The number of items per page
                    responses:
                        '200':
                            description: OK
                            content:
                                application/ld+json:
                                    examples:
                            headers: { }

            _api_/screens/{id}/screen-groups_get: &get_screen_groups
                normalizationContext:
                    groups: ['screens/screen-groups:read']
                class: ApiPlatform\Metadata\GetCollection
                method: GET
                filters: [ 'entity.order_filter' ]
                uriTemplate: '/screens/{id}/screen-groups'
                provider: App\State\ScreenGroupsScreensProvider
                openapiContext:
                    operationId: get-v1-screen-id-screen-groups
                    description: Retrieve screen-groups from screen id.
                    summary: Retrieve screen-groups from screen id.
                    tags:
                        - Screens
                    parameters:
                        -   schema:
                                type: string
                                format: ulid
                                pattern: "^[A-Za-z0-9]{26}$"
                            name: id
                            in: path
                            required: true
                        -   schema:
                                type: integer
                                minimum: 0
                                format: int32
                                default: 1
                            in: query
                            name: page
                            required: true
                        -   schema:
                                type: string
                                default: '10'
                            in: query
                            name: itemsPerPage
                            description: The number of items per page

            ApiPlatform\Metadata\Post:
                uriTemplate: '/screen-groups'
                openapiContext:
                    description: Create Screen group resources.
                    summary: Create Screen group resources.
                    operationId: post-v1-screen-groups
                    tags:
                        - ScreenGroups

            _api_/screen-groups/{id}/screens_get: &get_screens
                normalizationContext:
                    groups: ['screen-groups/screens:read']
                class: ApiPlatform\Metadata\GetCollection
                method: GET
                uriTemplate: '/screen-groups/{id}/screens'
                provider: App\State\ScreenScreenGroupsProvider
                openapiContext:
                    description: Get screens in screen group.
                    summary: Gets screens in screen group.
                    operationId: get-v1-screen-id-screen-group
                    tags:
                        - ScreenGroups
                    parameters:
                        -   schema:
                                type: string
                                format: ulid
                                pattern: "^[A-Za-z0-9]{26}$"
                            name: id
                            in: path
                            required: true
                        -   schema:
                                type: integer
                                minimum: 0
                                format: int32
                                default: 1
                            in: query
                            name: page
                        -   schema:
                                type: string
                                default: '10'
                            in: query
                            name: itemsPerPage
                            description: The number of items per page

    # Our DTO must be a resource
    App\Dto\ScreenGroup:
        provider: App\State\ScreenGroupProvider

        operations:
            ApiPlatform\Metadata\Get: *get
            get_screen_groups: *get_screen_groups
            get_screens: *get_screens
