---
resources:
  App\Entity\ScreenLayoutRegions:
    output: App\Dto\ScreenLayoutRegions
    normalization_context:
      groups: ['read']

    operations:
      ApiPlatform\Metadata\Get:
        uriTemplate: '/layouts/regions/{id}'
        controller: App\Controller\NotFoundAction

      ApiPlatform\Metadata\GetCollection:
        uriTemplate: '/layouts/regions'
        controller: App\Controller\NotFoundAction
